@import "../01_base/variables";
@import "../01_base/mixins";

html,
body {
  background: $white;
  color: $textColor;
  font-family: $defaultFontFamily;
  font-size: $defaultFontSize;
  line-height: $defaultLineHeight;
  margin: 0;
  padding: 0;
  width: 100%;
  max-height: 100vh;
  position: relative;

  * {
    box-sizing: border-box;
  }
}

#app {
  display: flex;
  justify-content: center;
  height: 100%;
  width: 100%;
}
.container {
  max-width: $maxPageWidth;
  padding: $spacing;
  width: 100%;

  &__helperFlow {
    overflow: hidden;
    display: flex;
    background-color: $themeColorDarken;

    h1,
    h2 {
      color: $white;
      line-height: 1;
      margin: 0.5rem 0;
    }

    h1 {
      font-size: 1.5rem;
      font-weight: lighter;
    }

    h2 {
      font-size: 2.1rem;
      margin: 0.75rem 0;
    }
  }
}
.container__helperFlow {
  min-height: 100vh;
}

@media screen and (max-width: 800px) {
  .container {
    &__helperFlow {
      .layout {
        .flex.xs6 {
          flex-basis: 80%;
          max-width: 100%;
          padding: 0;
        }
      }
    }
  }
}

.next {
  padding: 0;
  align-self: flex-end;
  .btn {
    &:hover {
      background-color: $themeColor;
    }
  }
}

@media screen and (max-width: 800px) {
  .container {
    .layout {
      .flex.xs4 {
        flex-basis: 100%;
        max-width: 100%;
        padding: 0;
      }
    }
  }
}

.logo {
  width: 30%;
}

@media screen and (max-width: 800px) {
.logo {
  width: 100%;
}
}



.margin-top {
  margin-top: $spacing;
}
