@import "../01_base/variables";

.btn {
  background: $themeColor;
  color: $textColorInv;
  cursor: pointer;
  padding: $spacing / 2 $spacing;
  position: relative;
  text-align: center;
  transition: $defaultTransition;

  &:hover {
    background: $themeColorDarken;
  }

  &--secondary {
    background: $inputBackgroundColor;
    color: $textColor;

    &:hover {
      background: $inputBackgroundColorDarken;
    }
  }
}