@import "../01_base/variables";


.stepper {
  display: flex;
  height: 75%;
  align-items: center;
  padding-bottom: 2rem;

  .stepper-container {
    width: 100%;
  }

  &__progress {
    display: flex;
    justify-content: space-between;
    flex-shrink: 0;
    position: relative;
    width: 100%;
    margin-top: 1.5rem;
  }

  &__progress-line {
    align-items: center;
    display: flex;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;

    &::after {
      background: $themeColorDarkenBorder;
      content: ' ';
      height: 3px;
      width: 100%;
    }
  }

  &__progress-item {
    align-items: center;
    background: $themeColorDarkenBorder;
    border: 5px solid $themeColorDarkenBorder;
    border-radius: $defaultLineHeight;
    color: $white;
    display: flex;
    height: $defaultLineHeight * 1.75;
    justify-content: center;
    position: relative;
    transition: $defaultTransition;
    width: $defaultLineHeight * 1.75;

    &--done {
      background: $themeColorDarkenBorder;
      color: $white;
    }
    &--active {
      background: $white;
      border-color: $white;
      color: $themeColorDarkenBorder;
    }
  }

  &__steps {
  }
  &__step {
    min-height: auto;
    position: absolute;
    opacity: 0;
    transform: translateX(100%);
    transition: $defaultTransition;
    z-index: 0;

    &--done {
      transform: translateX(-100%);
    }
    &--active {
      opacity: 1;
      position: relative;
      transform: translateX(0);
    }
  }

  &__actions {
    display: flex;
    flex-direction: column;
    margin-top: $spacing;
  }
}